@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --radius: 0.5rem;
}
@layer base {
  body {
    @apply font-primary  text-white leading-loose;
    background: rgb(28, 27, 34);
    background: linear-gradient(
      180deg,
      rgba(20, 19, 25, 1) 0%,
      rgba(28, 27, 34, 1) 50%,
      rgba(20, 19, 25, 1) 100%
    );
  }
  h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
}
.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover {
  -webkit-text-stroke: 1px #00ff99;
}

/* autofill browser resset background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1a202c inset !important; /* Цвет фона и увеличенная ширина */
  -webkit-text-fill-color: #e2e8f0 !important; /* Цвет текста */
  transition: background-color 5000s ease-in-out 0s; /* Убирает переходный эффект */
}
