.service-card {
  border-bottom: 1px solid var(--secondary-color);
}

.service-card-header {
  color: var(--primary-color);
}
.service-card-description {
  color: var(--secondary-color);
}
.service-number {
  display: flex;
  justify-content: space-between;
}
.service-number p {
  font-size: 3rem;
  line-height: 1;
  margin-block: auto;
}
.service-icon {
  fill: black;
  height: 3rem;
  width: 3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}
