.count-component {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.count-component p {
  font-size: 0.8rem;
  color: var(--secondary-color);
  max-width: 92px;
  word-wrap: break-word;
}
.count-component h2 {
  font-size: 2rem;
  font-weight: bold;
}

.experience-count {
  display: flex;
  justify-content: space-between;
}
