@import "@fontsource/jetbrains-mono";
:root {
  --primary-color: #71f9a4;
  --secondary-color: #bbbac1;
  --card-color: #232229;
  --sidebar-buttons: #262529;
  --font-size: 16px;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--font-size);
  color: white;
  margin: 0;
  padding: 0;
  background: rgb(28, 27, 34);
  background: linear-gradient(
    180deg,
    rgba(20, 19, 25, 1) 0%,
    rgba(28, 27, 34, 1) 50%,
    rgba(20, 19, 25, 1) 100%
  );
  min-height: 100vh;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.secondary-text {
  color: var(--secondary-color);
}

#root {
  min-height: 100vh;
}
.conntainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1050px;
  min-height: 100vh;
  padding: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn svg {
  fill: var(--primary-color);
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}
